<ion-content [fullscreen]="true" color="primary">
	<ion-grid class="h-100">
		<ion-row class="h-100">
			<ion-col size-md="4" offset-md="4">
				<div class="d-flex flex-column h-100 justify-content-around">
					<div class="ion-text-center">
						<h1 class="ion-magin">
							{{ 'SELF.TITLE' | translate }}
						</h1>
						<img class="ion-margin" src="assets/images/home_bg.png" style="width: 512px; max-width: 100%;">
					</div>
					<div>
						<ion-button (click)="newGame()" expand="block" color="secondary">
							{{ 'GENERIC.BUTTONS.PLAY' | translate }}
						</ion-button>
						<ion-button [routerLink]="['/games']" routerLinkActive="router-link-active" expand="block"
							color="light" fill="outline">
							{{ 'GENERIC.BUTTONS.HISTORY' | translate }}
						</ion-button>
						<ion-button (click)="selectLanguage()" class="ion-margin-top" expand="block" fill="outline"
							color="light">
							{{ 'GENERIC.LABELS.LANGUAGE' | translate }}: {{ 'LANGUAGES.' + language.name | translate }}
						</ion-button>
					</div>
				</div>

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
